*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Russo One';
}


/*--Menu nav--*/
nav{
	background-color: #EFF2F9;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav_logo{
	margin-left: auto;
}

.nav_link{
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.5px;
}

nav li a{
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
  	color: #7d5148;
	
}

/*--Bouton de connexion--*/
.connexion li a{
	padding: 15px;
	color: white;
	font-weight: normal;
	border-radius: 15px;
	background: #8cc63f;
}



/*--Corps de la page (Section)--*/
section{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%:
	min-width: 500px;
	/*background-color: #AFAFAF;*/
}



/*--Pied de la page (Footer)--*/
footer{
	margin-top: 5%;
	height: 150px;
	min-height: 100px;
	background-color: #8cc63f;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/*--Tableau--*/
thead, tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}