*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Russo One';
}


	/*--Menu nav--*/
nav{
	background-color: #EFF2F9;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav_logo{
	margin-left: auto;
}

.nav_link{
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.5px;
	flex-wrap: wrap;
}

nav li a{
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
  	color: #7d5148;
	
}

	/*--Bouton de connexion--*/
.connexion li a{
	padding: 15px;
	color: white;
	font-weight: normal;
	border-radius: 15px;
	background: #8cc63f;
}



	/*--Corps de la page (Section)--*/
section{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}



	/*--Pied de la page (Footer)--*/
footer{
	margin-top: 5%;
	height: 150px;
	min-height: 100px;
	background-color: #8cc63f;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



	/*Formulaires*/

/*--Ajout patient ou médecin--*/
.form_signup fieldset{
	border-color: #8cc63f;
	padding: 15px;
	width: 40%;
}

.form_signup legend {
	font-weight:bold;
    padding-left: 10px;
    padding-right: 10px;
}

.form_signup input{
	width: 50%;
	background-color: #EDEDED;
	border-radius: 3px ;
	border-color: #EDEDED;
	border-style: solid;
	margin-left: 5%;
    margin-right: 45%;
    margin-bottom: 5px;
}


/*--Recherche patient ou médecin--*/
.form_search fieldset{
	border-color: #8cc63f;
	padding: 15px;
	width: 40%;
}

.form_search legend {
	font-weight:bold;
    padding-left: 10px;
    padding-right: 10px;
}

.form_search input{
	width: 200px;
	background-color: #EDEDED;
	border-radius: 3px ;
	border-color: #EDEDED;
	border-style: solid;
	padding: 2px;
}


	/*Boutons desformulaires*/
.action_button{
	width: 50%;
	display: flex;
	margin-top: 20px;
}

.action_button input{
	width: 25%;
    margin-right: 5%;
	padding: 2px;
	background-color: #8cc63f;
	border-color: #8cc63f;
}

.buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 15px;
	margin-bottom: 20px;
}

.button_search input{
	margin-left: 15px;
	width: auto;
	background-color: #8cc63f;
	border-color: #8cc63f;
}



	/*--Page statistiques--*/
.stats_tableaux{
	display: flex;
	flex-direction: row;
}

.stats_tableaux fieldset{
	width: 90%;
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;

	display: flex;
	justify-content: center;
	border-style: hidden;
	text-align: center;
}

.stats_tableaux legend{
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}



	/*--Tableau--*/
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

thead, tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #EDEDED;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}