/*--Page login--*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Russo One';
}



/*--Menu nav--*/
nav{
	background-color: #EFF2F9;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



/*--Formulaire--*/
section{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #797979;

	background-color: #D0D3D8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Le formulaire*/
.log {
	width: 40%;
	margin: 15px;
	margin-top: 50px;
}


.log label{
	font-weight: bold;
}

.log input{
	background-color: #EDEDED;
	display: block;
	border-radius: 3px ;
	border-color: #EDEDED;
	border-style: solid;

	margin-bottom: 20px;
	padding-right: 40%;
	padding-top: 1%;
	padding-bottom: 1%;
}


/*Bouton submit*/
.log input[type=submit]{
	background-color: #8cc63f;
	border-color: #8cc63f;
	
	margin-top: 40px;
	margin-left: 40%;
	
	padding: 2px;
	padding-right: 10px;
	padding-left: 10px;
}